<html><h1>Si vous souhaitez nous dire quelque chose ( ou nous donner de l'argent )</h1>
<body>
<p><img src="http://image.noelshack.com/fichiers/2018/44/2/1540896122-parrot.gif" alt="partyparrot" height="30" width="30">
Vous pouvez envoyer un mail ici : <a href="mailto:codeurenherbe33@gmail.com">codeurenherbe33@gmail.com</a></p>
<p><img src="http://image.noelshack.com/fichiers/2018/44/2/1540896122-parrot.gif" alt="partyparrot" height="30" width="30">
Vous pouvez aussi nous suivre sur Twitter : <a href="https://twitter.com/Codeur3/">codeur_en_herbe_33</a>
</body></html>