<html>
    <h1 class="homeland">COUCOU TOI!</h1>
        <div class="home" >
            Te voici sur notre <strong>MAGNIFIQUE</strong> site !<br>
            Tu pourras y consulter tous les derniers <strong>potins<strong> de la région !<br>
            Mais avant tout, <strong>FILE<strong> donc renseigner ton pseudo dans l'onglet "Welcome" ! 
        </div>
        <img class="trolling" src="https://i.gifer.com/3xX7.gif" alt="Troll dance">
</html>