<div id=team>
        <div class="overlay-image">
                        <img class="image" src="http://image.noelshack.com/fichiers/2018/44/1/1540820094-val.jpg" alt="Valérian" height="300" width="200"/>
                        <div class="normal">
                       </div>
                    <div class="hover">
                <div class="text">Valerian</div>
            </div>
        </div>
        <div class="overlay-image">
                            <img class="image" src="http://image.noelshack.com/fichiers/2018/44/1/1540820094-francois.jpg" alt="François" height="300" width="200"/>
                            <div class="normal">
                           </div>
                        <div class="hover">
                    <div class="text">François
                </div>
            </div>
        </div>
        <div class="overlay-image">
                            <img class="image" src="http://image.noelshack.com/fichiers/2018/44/1/1540820094-paul.jpg" alt="Paul" height="300" width="200"/>
                            <div class="normal">
                           </div>
                        <div class="hover">
                    <div class="text">Paul
                </div>
            </div>
        </div>
        <div class="overlay-image">
                            <img class="image" src="https://pbs.twimg.com/profile_images/999583829810528256/IlRytmda.jpg" alt="William" height="300" width="200"/>
                            <div class="normal">
                           </div>
                        <div class="hover">
                    <div class="text">William
                </div>
            </div>
        </div>
        <div class="overlay-image">
                            <img class="image" src="http://image.noelshack.com/fichiers/2018/44/1/1540820094-dav.jpg" alt="David" height="300" width="200"/>
                            <div class="normal">
                           </div>
                        <div class="hover">

                    <div class="text">David
                </div>
            </div>
        </div>
</div>

