<h1>Voici notre équipe</h1>
<div id=team>
<div id=photo1>
<img src="http://image.noelshack.com/fichiers/2018/44/1/1540820094-val.jpg" alt="Valérian" height="300" width="200">
</div>
<div id=photo2>
<img src="http://image.noelshack.com/fichiers/2018/44/1/1540820094-francois.jpg" alt="François" height="300" width="200">
</div>
<div id=photo3>
<img src="http://image.noelshack.com/fichiers/2018/44/1/1540820094-paul.jpg" alt="Paul" height="300" width="200">
</div>
<div id=photo4>
<img src="http://nnimgt-a.akamaihd.net/transform/v1/crop/frm/34GUhu3yS7SU9i7jdHAcFhw/c789667e-8234-4c5a-b621-e124fe0d1633.jpg/r0_0_2000_1156_w1200_h678_fmax.jpg" alt="William" height="300" width="200">
</div>
<div id=photo5>
<img src="http://image.noelshack.com/fichiers/2018/44/1/1540820094-dav.jpg" alt="David" height="300" width="200">
</div>
</div>