<html><h1>POSTE TON POTIN POTO</h1>

<p><img src="https://i.redd.it/oz01qzotnq411.gif" height="600" width="1000"></p>
<form action="/welcome" method="post">
<img src="http://www.dobiza.com/img/images/add1_.gif" height="50" width="120">
    <input type="hidden" name="authenticity_token" 
    value="<%= form_authenticity_token %>">
    <input type="text" name="name">
    <input type="submit" name="Envoyer">
</form>

<audio autoplay="true" loop="true">
<source src="https://vocaroo.com/media_command.php?media=s1CtpButioVM&command=download_mp3">
</audio></html>