<h1>yo mec file ton pseudo</h1>
<img src="https://i.redd.it/oz01qzotnq411.gif">
<form action="/welcome" method="post">
    <input type="hidden" name="authenticity_token" 
    value="<%= form_authenticity_token %>">
    <input type="text" name="name">
    <input type="submit" name="Envoyer">
</form>

<audio autoplay="true" loop="true">
<source src="">
</audio>