<html><h1>Mets ton pseudo stp</h1>

<p><img src="https://i.redd.it/oz01qzotnq411.gif" height="600" width="1000"></p>
<form action="/welcome" method="post">
<img src="http://www.dobiza.com/img/images/add1_.gif" height="90" width="260">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="name">
    <input type="submit" name="Envoyer" value="File ton numéro de CB">
    <img src=" http://image.noelshack.com/fichiers/2018/44/2/1540915169-arrow-left.gif" height="90" width="260">
</form>

<audio autoplay="true" loop="true">
<source src="https://vocaroo.com/media_command.php?media=s1CtpButioVM&command=download_mp3">
</audio>
</html>